.tituloReport{
	font-size: 15px;
	text-decoration: underline;
}

.subtituloReport{
	font-size: 12px;
	padding-left: 2%;
}

.tableReportPre {     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;    
	margin: 5px;     
	width: 720px;     
	border-collapse: collapse; 
	padding-left: 3%;
	padding-top: 1%;
}


.tableReport {     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;    
	margin: 5px;     
	width: 720px;     
	border-collapse: collapse; 
	padding-left: 3%;
	padding-top: 2%;
}
.tableReportR {     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;    
	margin: 5px;     
	width: 720px;     
	border-collapse: collapse; 
	
}

.tableReportRound {     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;    
	margin: 5px;     
	width: 720px;     
	border-collapse: collapse; 
	padding-left: 3%;
	padding-top: 2%;
}

.thReport {     
	font-size: 15px;     
	font-weight: normal;     
	padding: 8px; 
	background: #000;
	border-top: 4px solid #000;   
	 border-bottom: 1px solid #fff; 
	 color: #fff; 
	}
.thReport th{     
	padding-left: 10px;
}

.tdReport {    
	padding: 8px;     
	background: #f5f5f5;     
	border-bottom: 1px solid #fff;
	color: #000;    
	border-top: 1px solid transparent;
	 
}


.tdReport td{
	padding-left: 10px;
}

.cabeceraReport1{
	float: left;
	padding-left: 30px;

}
.cabeceraReport2{
	float: left;
	padding-left: 200px;
	
}

