#myImage{
    margin:10px auto;
    display:block;
    
}

#ImageMain{
    
    border: rgb(134, 251, 255) 4px dashed;
}

.back--Header--main{
    background-color: #2c2e3e;
}

#textMain{
    color:#fff;
}

#selecMain{
    z-index:0;
}

.portada{
    width: 50%;
    display:block;
    margin:auto;
}


.notImage{
    border: #2c2e3e 3px;
}

.iconoNotImg{
    font-size: 300%;
}

.logoLogin{
    width: 50%;
}

.imgHome{
    width: 50%;
    display:block;
    margin:auto;
    padding: 2%;
   
}

.btn-traslate{
    padding: 5px;
    margin: 10px;
}

.btn-busca-map{
    margin-top: 27px;
}

/*mapa*/

#map{
    width: 100%;
    height:200px;
    margin-bottom: 20px;
}

.start{
    font-size: 30px;
    padding-bottom: 50px;
    color:#ffb822;
}

.btn-report{
    margin-top: 10px;
}

.btn-back-call{
    margin-left: 4px;
    margin-top: 10px;
    margin-right: 2px;
}

.my-table{
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    font-weight: 600;
}

.my-table > thead{
    background: #F4F3F8;
}

/*tabla responsive*/
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}

.my-custom-scrollbar-call {
    position: relative;
    height: 200px;
    overflow: auto;
    }
.table-wrapper-scroll-y-call {
    display: block;
}

.btn-export-pdf{
    margin-left: 10px;
    margin-bottom: 30px;
}

.btn-export-pdf2{
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: 200px; */
}


.numberDashboard{
    float: right;
    margin-right: 1rem;
    margin-top: -2.5rem;
    margin-bottom: 3rem;
    font-size: 1.75rem;
    font-weight: 600;
}